
.nav{
    border:solid rgb(19, 25, 51);
    display: flex;
    justify-content: center;
    background-color: rgb(207, 207, 207);
}
.app {
    background-color: rgb(173, 173, 173)
}
.header{
    background-color: rgb(126, 154, 192);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 65px;
    text-decoration: underline;
    padding:0px 20px
}

.intro{
    font-size: 24px;
}

.link{
    font-size: 24px;
    padding:0px 5px;
    margin:10px 5px;
    text-decoration: none;
    border:solid  rgb(19, 25, 51);
    background-color:  rgb(176, 204, 255);
    
}
.link:hover{
    background-color: white;
}

.article_panel{
    border: solid  rgb(19, 25, 51);
    margin: 5px 10px;
    padding: 0px 10px;
    background-color:  rgb(176, 204, 255);
}

.sort_by{
    margin:0px 10px;
    font-size: 20px;
}

ul{
    list-style-type: none;
}
