
body{
    background-color: white;
}

.nav{
    border-top:solid rgb(19, 25, 51);
    border-bottom:solid rgb(19, 25, 51);
    display: flex;
    justify-content: center;
    background-color: rgb(207, 207, 207);
}
@keyframes animation {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%
    }
}

.header{
    background-color: rgb(212, 230, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 32px;
    text-decoration: underline;
    padding:0px
}

.intro{
    font-size: 24px;
}

.link_button{
    font-size: 18px;
    padding:0px 5px;
    margin:10px 5px;
    text-decoration: none;
    border:solid  rgb(19, 25, 51);
    border-radius: 20px;
    background-color:  rgb(176, 204, 255);
    transition: 1000ms;
    
}
.link_button:hover{
    background-color: white;
    transition: 1000ms;
}
.link{
    text-decoration: none;
    color:black;
}

.article_panel{
    border: solid  rgb(19, 25, 51);
    margin: 20px 20px;
    padding: 0px 10px;
    background-color:  rgb(224, 224, 224);
    box-shadow: 5px 5px 2px 2px rgb(180, 180, 180);
    transition: 1000ms
    
}

.article_panel:hover{
    background-color: white;
    transition: 1000ms;
}

.sort_by{
    display: grid;
    justify-content: center;
    margin:0px 10px;
    font-size: 20px;
}

.comment{
    border: solid  rgb(19, 25, 51);
    margin: 10px 5px;
    padding: 5px 20px;
    background-color:  rgb(224, 224, 224);
}

ul.no-bullets{
    list-style-type: none;
}

.article{
    margin: 10px 20px;
    border: solid  rgb(19, 25, 51);
    padding: 0px 20px;
    font-size: 20px;
    background-color: rgb(218, 214, 253);
}

.article_stats {
    text-align: center;
}

ul {
    animation-name: animation;
    animation-duration: 2s;
}

.article_list{
    display:grid;
    justify-content: center;
}

form{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}

#comments{
display: grid;
justify-content: center;
text-decoration: underline;
}